@media(min-width: 768px){

    :root{
        --color-primary: #006A4E;      
        --color-secondary: #FFB81C;     
        --color-background: #F8F9FA;   
        --color-accent: #002147;        
        --color-text: #212529;  
        --color-border: #dee2e6;

        --font-heading: "Montserrat"/* , system-ui, -apple-system, sans-serif */;
        --font-body: "Open Sans", system-ui, -apple-system, sans-serif;
        --line-height-body: 1.6;
        --line-height-heading: 1.2;
    }

    .site-header{
        padding-left:40px;
        padding-right:40px;
        padding-top:10px;

    }


    .main-nav {
        display:block;
    }

    .main-nav ul{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        gap:40px;
        color: var(--color-accent);
    }

    .main-nav ul li{
        background-color:white;
    }

    .main-nav ul li a {
        text-decoration: none;
        color: var(--color-accent);
        font-style: var(--font-heading);
        font-weight:600;
        padding:10px;
        border-radius:8px;
        background-color:white;
    }

    .main-nav ul li a:hover{
        background-color: var(--color-accent);
        color: white;
    }

    .join-page-body{
        width:90%;
        margin: 0 auto;
        display:grid;
        grid-template-columns:60% 40%;
        align-items:center;
        justify-content:center;
    }

    .hamburger{
        display: none;
    }

    .hero{
        height:400px;
        position: relative;
    }
    .home{
        display:grid;
        grid-template-columns:2fr 1fr 1fr;
        gap:30px;
    }
    .view-grid{
     
        display:block;
        margin-top:20px;
        display:flex;
        justify-content:end;
        font-family: var(--font-heading);
    }
    .view-grid div{
        padding:10px;
        background-color:var(--color-accent);
        border-radius:8px;
        color:white;
    }

    .events, .current-weather, .weather-forecast{
        border-radius:0;
    }

    .div-heading{
        border-radius:0;
    }

    .body-div{
        margin:40px;
        margin-top:0px;
    }

    .cta-btn{
        position: absolute;
        left: 1100px;
        bottom: 50px;
    }

    .business-card-section, .highlight{
        display:grid;
        grid-template-columns:1fr 1fr 1fr;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:30px;
    }
    .business-card-section-list{
        display:grid;
        grid-template-columns:400px;
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:30px;
    }

    .discovery-section{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .attraction-figure:hover{
        box-shadow:0 4px 6px rgba(0, 0, 0, 0.5);
        width:100%;
        height: 562px;
    }

    /*.attraction-figure{
        display:grid;
        grid-template-columns: 1fr 3fr;
        grid-template-areas:
            "name" "name"
            "photograph" "description"
            "photograph" "address"
            "button" "button";
        gap: 25px;
        padding: 40px;
        width: 100%;
        max-width: 1200px; 
        margin: 0 auto;
        height: 300px;

    }

    .attraction-image {
        grid-area: photograph;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }

    .figure-head {
        grid-area: name;
        text-align: center; 
        font-size: 2rem;
    }

    .place-description {
        grid-area: description;
        align-self: end; 
    }

    .place-address {
        grid-area: address;
        align-self: start;
    }

    .attraction-figure button {
        grid-area: button;
        justify-self: center;
        width: 50%; 
    } */


    footer{
        background-color:var(--color-border);
        padding: 20px 40px;
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:center;
    }
}
