:root{
    --color-primary: #006A4E;      
    --color-secondary: #FFB81C;     
    --color-background: #F8F9FA;   
    --color-accent: #002147;        
    --color-text: #212529;  
    --color-border: #dee2e6;

    --font-heading: "Montserrat"/* , system-ui, -apple-system, sans-serif */;
    --font-body: "Open Sans", system-ui, -apple-system, sans-serif;
    --line-height-body: 1.6;
    --line-height-heading: 1.2;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    /* background-color: var(--color-accent); */
}

span{
    font-family: var(--font-heading);
}

.site-header {
    height: auto;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.site-id{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.site-name{
    font-size: 24px;
    font-weight: 500;
    font-family: var(--font-heading);
    color: var(--color-accent);
    text-align: center;
}

.main-nav ul {
    list-style: none;
    font-family: var(--font-heading);
}

.main-nav{
    display: none;
}

.main-nav.active{
    display: block;
    height:auto;
    background-color: #fcfbfb;
}

.main-nav ul li{
    background-color:var(--color-accent);
    color: white;
    height:40px;
    margin-top:1px;
    padding: 10px 20px;
    display: flex;           
    align-items: center;         
    justify-content: flex-start;
}

.main-nav ul li a {
    text-decoration: none;
    color: white;
    display: block; 
    width: 100%;
}

.hamburger{
    height: 40px;
    width: 40px;
    border-radius: 4px;
    background-color: var(--color-background);
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--color-text);
}

.hero{
    height:400px;
    position: relative;
}

.hero-image{
    width: 100%;
    height: 100%;
    object-fit: cover;                /* ← best look: fills nicely without distortion */
    object-position: center;
}

.cta-btn{
    padding:10px;
    background-color:var(--color-accent);
    border-radius:8px;
    color:white;
    width: 130px;
    text-align:center;
    font-family: var(--font-heading);
    position: absolute;
    left: 250px;
    bottom: 100px;
}

.home{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.body-div{
    margin:20px;
    margin-top:0px;
    /* background-color: var(--color-accent); */
}

.section-name{
    font-family: var(--font-heading);
    color: var(--color-accent);
    font-size:32px;
    text-align:left;
    margin-left:20px;
    font-weight:700;
}

.section-head{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    padding:0 10px;
}

.div-heading{
    display:block;
    background-color:var(--color-accent);
    font-size:28px;
    color: white;
    text-align:center;
    border-radius:4px;
    font-family: var(--font-heading);
}

.events, .current-weather, .weather-forecast{
    width:100%;
    height:230px;
    background-color:var(--color-border);
    margin-top:20px;
    border-radius:4px;
}

.forecast-div, .weather-div, .events-div{
    background-color:var(--color-border);
}

.business-card-section, .highlight{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:20px;
}

.business-card{
    width:100%;
    height:200px;
    background-color:var(--color-border);
    margin-top:20px;
    border-radius:12px;
    font-family: var(--font-heading);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

.business-name-div{
    border-bottom: 1px solid black;
    height: auto;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.business-info-div p {
    font-family: var(--font-heading);
    font-weight: 700;
}

.email, .url, .phone-number{
    font-family: var(--font-heading);
}

.business-name{
    font-family: var(--font-heading);
    font-weight:800;
    text-align:center;
    padding:10px;
    height:100%;
}
.business-info{
    display: flex;
    /* flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:auto;
    width:100%; */
    gap: 10px;
}

.weather-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top:15px;
    gap:15px;
    padding:10px;
    background-color:var(--color-border);
    font-family: var(--font-heading);
}

.forecast-div{
    background-color:var(--color-border);
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:10px;
    font-family: var(--font-heading);
}

.weather-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:4px;
}

.business-info div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* height:auto;
    width:70%; */
    margin-top:15px;
    gap:15px;
}

.business-image{
    height: 90%;
    width:30%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    margin: 0 auto;
    /* max-width: 200px; 
    max-height: 100px;  */
}

img{
    width: 90%;
    height: 90%;
    object-fit: cover;                /* ← best look: fills nicely without distortion */
    border-radius: 6px;
}


.view-grid{
    display:none;
}

.join-page-body{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    width:90%;
    margin:0 auto;
    gap:50px;
}

.join-form p{
    font-family: var(--font-heading);
    color: var(--color-accent);
    font-size:24px;
    font-weight:700;
    margin:20px 0;
}
.form-group{
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
    gap:5px;
    margin-bottom:10px;
}
#membershipForm{
    /* border: 1px solid var(--color-accent); */
    border-radius:12px;
    padding:20px;
}

.btn{
    padding:10px;
    background-color:var(--color-accent);
    border-radius:8px;
    color:white;
    width: 250px;
    text-align:center;
    font-family: var(--font-heading);
}

.form-group textarea {
    width:80%;
    height:70px;
    border: 1px solid var(--color-accent);
    border-radius:8px;
    padding:0 10px;
}
.form-group input, select{
    width:80%;
    height:30px;
    border: 1px solid var(--color-accent);
    border-radius:8px;
    padding:0 10px;
    font-family: var(--font-heading);
}

.form-group label{
    font-family: var(--font-heading);
    font-weight:700;
    color:var(--color-accent);
}

.social-link{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:right;
    gap:30px;
}

.membership-card{
    
}

.card{
    height: 150px;
    width: 90%;
    background-color:var(--color-accent);
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:20px;
    margin-top:20px;
    border-radius:18px;
    flex-direction:column;
    font-family: var(--font-heading);
    font-weight:700;
}

footer{
    background-color:var(--color-border);
    padding: 20px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:right;
    gap:10px;
    font-family: var(--font-heading);
}

